@import '../../app/styles/utils/variables';

.main {
  &__wrapper {
    display: flex;
    gap: 55px;
    @media (max-width: $laptop) {
      gap: 40px;
    }
    @media (max-width: $mobile) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }
}
